<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nordic.repository.board.BoardDao">
    <!--  게시글 생성  -->
    <insert id="inputBoard" parameterType="com.nordic.dto.board.BoardMasterDto">
        INSERT
        INTO BOARD_MASTER
            (BOARD_OBJECT,
             BOARD_DESC,
             BOARD_GROUP,
             REPLY_YN,
             CREATE_MEMBER)

        VALUES (#{board_object}, #{board_desc}, #{board_group}, #{reply_yn}, #{create_member})

        <selectKey keyProperty="board_no" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!--  게시글 수정  -->
    <update id="modifyBoard" parameterType="com.nordic.dto.board.BoardMasterDto">
        UPDATE BOARD_MASTER
        SET
            BOARD_OBJECT = #{board.board_object},
            BOARD_DESC = #{board.board_desc},
            REPLY_YN = #{board.reply_yn},
            FIX_YN = 'Y',
            UPDATE_MEMBER = #{board.update_member},
            UPDATE_DATE = CURRENT_TIMESTAMP

        WHERE BOARD_NO = #{board_no}
    </update>

    <!--  게시글 삭제  -->
    <update id="deleteBoard">
        UPDATE BOARD_MASTER
        SET
            USE_YN = 'N',
            REMARK = '삭제',
            UPDATE_MEMBER = #{update_member},
            UPDATE_DATE = CURRENT_TIMESTAMP

        WHERE BOARD_NO = #{board_no}
    </update>

    <!--  게시글 읽기  -->
    <select id="loadBoard" resultType="com.nordic.dto.board.BoardMasterDto">
        SELECT bm.*, bi.BOARD_IMAGE_NO, bi.IMAGE_FILE, bi.ORIGNAL_NAME, bi.IMAGE_USE_YN
        FROM BOARD_MASTER bm
        LEFT OUTER JOIN BOARD_IMAGE bi
            ON bm.BOARD_NO = bi.BOARD_NO

        WHERE bm.BOARD_NO = #{board_no}
    </select>

    <!--  소개 / 기원 불러오기  -->
    <select id="loadMainContent" resultType="com.nordic.dto.board.BoardMasterDto">
        SELECT bm.*, bi.BOARD_IMAGE_NO, bi.IMAGE_FILE, bi.ORIGNAL_NAME, bi.IMAGE_USE_YN
        FROM BOARD_MASTER bm
        LEFT OUTER JOIN BOARD_IMAGE bi
            ON bm.BOARD_NO = bi.BOARD_NO

        WHERE bm.BOARD_GROUP = #{board_group}
          AND bm.USE_YN = 'Y'
    </select>

    <!--  게시글 전체목록  -->
    <select id="loadBoardList" resultType="com.nordic.dto.board.BoardMasterDto">
        SELECT bm.*, bi.IMAGE_FILE, bi.IMAGE_USE_YN
        FROM BOARD_MASTER bm
        LEFT OUTER JOIN BOARD_IMAGE bi
            ON bm.BOARD_NO = bi.BOARD_NO

        WHERE BOARD_GROUP = '게시판'
        AND bm.USE_YN = 'Y'

        -- 중복제거(썸네일)
        GROUP BY bm.BOARD_NO
        ORDER BY bm.BOARD_NO DESC
    </select>

    <!--  게시글 검색  -->
    <select id="searchBoard" resultType="com.nordic.dto.board.BoardMasterDto">
        SELECT *
        FROM BOARD_MASTER bm
        WHERE BOARD_GROUP = '게시판'
        AND USE_YN = 'Y'
            <if test=' searchType neq null and searchType neq "" '>
                <choose>
                    <when test=' searchType eq "title"'>
                        AND BOARD_OBJECT LIKE CONCAT('%', #{searchContent},'%')
                    </when>
                    <when test=' searchType eq "content"'>
                        AND BOARD_DESC LIKE CONCAT('%', #{searchContent},'%')
                    </when>
                    <when test=' searchType eq "writer"'>
                        AND CREATE_MEMBER LIKE CONCAT('%', #{searchContent},'%')
                    </when>
                    <when test=' searchType eq "titleAndContent"'>
                        AND (BOARD_OBJECT LIKE CONCAT('%', #{searchContent},'%')
                        OR BOARD_DESC LIKE CONCAT('%', #{searchContent},'%'))
                    </when>
                </choose>
            </if>

        ORDER BY BOARD_NO DESC
    </select>
</mapper>